#parent {
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  max-width: 350px;
  border-radius: 5%;
}

#calendar {
  display: flex;
  justify-content: center;
  background-color: black;
  border-radius: 20px;
  min-width: 350px;
  text-align: center;
  min-height: 300px;
}

#calendar td,
#calendar th {
  padding: 10px 12px;
}

.monDay {
  background-color: red;
  border-radius: 20px;
  font-weight: bold;
  font-size: 20px;
  height: 5px;
}
body {
  background-color: gainsboro;
  font-family: Arial, serif;
}
.header {
  width: 350px;
  height: 60px;
  background-color: black;
  border-radius: 15px;
  margin-bottom: 5px;
  color: aliceblue;
  text-align: center;
  padding: 3px 0px;
  display: flex;
  justify-content: space-around;
}

.header__btn-nav {
  border: 0;
  background-color: black;
  color: aliceblue;
}

/* #note {
  width: 350px;
  min-height: 120px;
  background-color: black;
  border-radius: 15px;
  margin-top: 5px;
  text-align: center;
  color: aliceblue;
  padding: 12px 0px;
  font-size: 12px;
  line-height: 17px;
} */

.test {
  width: 350px;
  height: 150px;
  background: #000;
  border-radius: 20px;
  padding-top: 10px;
  margin-top: 5px;
}

.input {
  width: 300px;

  background-color: rgb(32, 32, 32);
  border-radius: 4px;
}

ol li {
  border-bottom: solid white 1px;
  max-width: 290px;
}
